@model IEnumerable<TutorApp.Models.SchoolViewModels.AppointmentDateGroup>

@{
    ViewData["Title"] = "Appointment Statistics";
}

<h2>Appointment Statistics</h2>

<table>
    <tr>
        <th>
            Appointment Date
        </th>
        <th>
            Count
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDates)
            </td>
            <td>
                @item.AppointmentCount
            </td>
        </tr>
    }
</table>